<!doctype html>
<html class="no-js" lang="cs" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {include #meta}
    <title>{include #title}</title>
    <link rel="stylesheet" href="{$basePath}/css/foundation.css">
    <link rel="stylesheet" href="{$basePath}/css/app.css">
    <link rel="stylesheet" href="{$basePath}/css/vzhled.css">

    <link href="{$basePath}/lightbox2/dist/css/lightbox.css" rel="stylesheet">
  </head>
  <body>
    <div class="row" data-magellan-target="kategorie_1">
      <div class="large-12 columns" id="zahlavi">
        <!--<img class="large-12" src="{$basePath}/css/puvodni-zahlavi.jpg" alt="toto je obrázek"/>-->
      </div>
    </div>

    <div class="row" id="horni_menu">
    <div class="menu-centered">
    	<ul n:inner-foreach="$menuItems as $item => $link" class="menu" data-responsive-menu="drilldown large-dropdown">
        <li class="{ifCurrent $link}aktivni_menu{else}neaktivni_menu{/ifCurrent}"><a n:href="$link">{$item}</a></li>
      </ul>
    </div>
    </div>

    <div class="row" id="obsah">
      {include #content}
    </div>

    <div class="row" id="zapati">
      <div class="large-2 columns large-offset-8">
        <strong>Naše kontakty:</strong><br />
        Mobil: {$kontaktni_udaje["mobil"]}<br />
        Pevná linka: {$kontaktni_udaje["pevna_linka"]}<br />
        Fax: {$kontaktni_udaje["fax"]}<br />
        Email: {$kontaktni_udaje["email"]}<br />
      </div>
      <div class="large-2 columns">
        <strong>Naše adresa:</strong><br />
        {$kontaktni_udaje["ulice"]}<br />
        {$kontaktni_udaje["mesto"]}<br />
        {$kontaktni_udaje["psc"]}<br />
      </div>
    </div>
    <div class="row" id="spodek">
      <div class="large-12 columns text-center">
        © Stavitelství Šindler
      </div>
    </div>

    {block scripts}
    <script src="{$basePath}/js/vendor/jquery.js"></script>
    <script src="{$basePath}/js/vendor/what-input.js"></script>
    <script src="{$basePath}/js/vendor/foundation.js"></script>
    <script src="{$basePath}/js/app.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
  <script src="{$basePath}/js/main.js"></script>

  <script src="{$basePath}/lightbox2/dist/js/lightbox.js"></script>
    <script>
      lightbox.option({
        "albumLabel": "Obrázek %1 ze %2",
      })
    </script>

	{/block}
  </body>
</html>