{block content}

<ul class="large-10 columns menu" id="nabidka_zive" n:inner-foreach="$vysledkySporty as $item => $link">
	<li class="large-2 columns {ifCurrent Vysledky:$link}active{/ifCurrent} end"><a n:href="Vysledky:$link">{$item}</a></li>
</ul>

{/block content}