{block title}
Certifikáty | Stavitelství Šindler, s.r.o.
{/block}
{block meta}
	<meta name="description" content="Free Web tutorials">
{/block}
{block content}
<div class="large-12 columns">
	<h1>Certifikáty</h1>
</div>
{/block}
